/*.................UNIVERSAL..............*/
* {
  box-sizing: border-box;

}

body, html{
  background-image: url("wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(107, 97, 97);
  display: grid;
  grid-template-columns: 1/-1;
  grid-template-rows: repeat(auto-fit, 1fr);
 
}
/*.................HEADER..................*/



.navbar { 
  overflow: hidden;
  background-color: rgb(232, 235, 231);
  position: relative;
}

.navbar #myLinks {
  display: none;
  
}

.navbar a {
  color: rgb(165, 98, 98);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
.navbar a.icon {
  background: rgb(70, 51, 51);
  display: block;
  position: absolute;
  right: 0;
  top: 0; 
}

​​​

/*.................BODY........................*/
h1 {
    font-size: 1.5em;
}
h2 {
    font-size: 1.2em;
    text-align: center;
}

#intro {
  display: grid;
  grid-template-columns: 1/-1;
  grid-template-rows: 2fr;
  width: 100%;
  font-family: 'Brush Script MT', cursive;
  font-size: 2rem;
  font-weight: 10;
  text-align: center;
  color: rgb(232, 235, 231);
  
}

.name {
  font-weight: bold;
  color: rgb(42, 79, 94);
}

.img {
  max-width: 100%;
  height: auto;
  
}



#summary ul {
  font-size:smaller ;
  align-items: center;
  justify-self: center;
}


/*..............FOOTER.................*/
footer a {
  justify-content: center;
}

/*..............MEDIA...................*/
@media screen and (min-width: 600px) {
  body, html {
    width: 100%;
    height: 100%;
  }
  .navbar a.icon {
    display: none;
  }
  .navbar {
    
    display: grid;
    grid-template-columns: 4fr 10fr;
    grid-template-rows: 1/-1;
   
   
  }

  .navbar a {
    display: inline-block;
    text-align: left;
    top: 0;
  }
  .navbar #myLinks {
    display: block;
    text-align: right;

  }

}
